*.class
*.log

# sbt specific
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies

.project
.cache
.classpath
*/.settings/*

#intellij
*/.idea/*
*.iml

#instruction to set up
#http://stackoverflow.com/questions/15381294/how-to-initialize-a-new-scala-project-in-sbt-eclispe-and-github
